<h1>New image</h1>
<div class="col-md-3">
<%= form_for @post, :html => { :multipart => true } do |f| %>
    <div class="form-group">
        <%= f.label :image, "Upload" %>
        <%= f.file_field :image, :class => "btn btn-default" %>
    </div>
    <div class="form-group">
        <%= f.label :caption, "Caption" %>
        <%= f.text_field :caption, :class => "form-control" %>
    </div>
    <%= f.label :share, "Share with" %>
    <ul class="list-group" id="share_list">
    </ul>
    <div class="form-group">
        <%= text_field_tag "share_add", nil, :placeholder => "Enter name", :class => "form-control", :id => "share_add" %>
    </div>
    <ul class="list-group" id="share_list_preview">
    </ul>
    <div class="form-group">
        <%= f.submit "Post", :class => "btn btn-primary" %>
    </div>

<% end %>
</div>